thead{
    color: black;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

thead {

    background-color: #000;
    color: #ffffff;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid #a52a2a;
}

th, td {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 8px;
    padding-top: 20px;
    border-bottom: 1px solid #a52a2a;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid #a52a2a;
}

.split-table {
    table-layout: fixed;
    white-space: nowrap;
    border-right: 0px solid #d2d2d2;
    margin-bottom: 30px!important;
    border-bottom-width: 0!important;
    border-left-width: 0!important;

}
table {
    border: 0px solid #d2d2d2;
    font-family: Sintony,Arial,sans-serif;
    font-size: 14px;
    text-align: left;
    width: 100%;
    white-space: normal;
}

table {
    background-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 1px;
}
*, ::before, ::after {
    box-sizing: inherit;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}


body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #262525;
    background-color: #ececec;
}

html {
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


.split-table .pinned {
    width: 240px;
    overflow: hidden;
}

.split-table .split-table-col__pinned {
    width: 101%;
    overflow: hidden;
}

.split-table .split-table-col .data-table td {
    padding-top: 0;
    padding-bottom: 0;
    height: 54px;
}

.split-table .split-table-col__scrollable {
    width: 80%;
    overflow: auto;
}

.split-table .split-table-col .data-table__scrollable {
    border-left-width: 0px;

}

.split-table .split-table-col .data-table td {
    padding-top: 0;
    padding-bottom: 0;
    height: 77px;
}

.data-table tbody td {
    white-space: nowrap;
    padding-top: 7px;
    padding-bottom: 6px;
    background-color: #fff;
}

.data-table td, .data-table th {
    padding-left: 5px;
    padding-right: 4px;
}

.split-table .split-table-col .data-table {
    white-space: nowrap;
    margin: 0;
    padding: 0;
    border-right-width: 0;
    width: 100%;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.split-table, .split-table .split-table-tr, .split-table .split-table-td {
    padding: 0;
    border-width: 0;
    margin: 0;
    text-align: left;
    vertical-align: top;
}


table {
    font-family: Sintony,Arial,sans-serif;
    font-size: 14px;
    text-align: left;
    width: 100%;
    white-space: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


th:first-child, td:first-child {
    font-family: Sintony,Arial,sans-serif;
    text-align: left;
}

.template--two-column__content--one {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.megamenu {
    font-family: Sintony,Arial,sans-serif;
    font-size: 14px;
    position: relative;
    z-index: 1030;
}

.megamenu-navbar {
    height: 70px;
    background: #bf3f45;

}

.megamenu-club-logobar{

    font-family: Sintony,Arial,sans-serif;
    font-size: 14px;
    background-color: #000;
    height: 55px;

}

.megamenu-club-logobar img{
    max-height: 65px;

}

.megamenu-club-logobar__logo{
    margin-left: 50px;
}
.megamenu-club-logobar__tagline{
    margin-left: 30px;
    max-height: 65px;
}

.megamenu-club-logobar__tagline img{
    max-height: 40px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
    margin-left: 10px;
}





